.player-label-active
{
    -fx-text-alignment: center;
    -fx-font-family: 'Century Gothic';
    -fx-text-fill: rgba(247,247,247,1.0);
    -fx-font-size: 12;

}
.player-label-inactive
{
    -fx-text-fill: rgba(57,125,119,1.0);
}
.player-vbox-active-ii
{
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-style: solid inside;
    -fx-border-radius: 0;
    -fx-border-color: rgba(0,128,0,1);
    -fx-background-color: rgba(0,145,132,1.0);
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}
.player-vbox-inactive-ii
{
    -fx-background-color: rgba(82,179,171,1.0);
}

.input-textfield
{
    -fx-background-color: rgba(64,64,64,1.0);
    -fx-font-family: 'Century Gothic';
    -fx-text-fill: rgba(247,247,247,1.0);
    -fx-border-width: 0 0 0 0;
    -fx-background-radius: 2;
    -fx-border-color: rgba(55,55,55,1);

}
.hiddenword-label
{
    -fx-background-color: transparent;
    -fx-font-size: 90;
    -fx-font-family: Aka-AcidGR-GhostStory;
    -fx-text-fill: whitesmoke;
    -fx-text-alignment: LEFT;
}
.playersbox-hbox
{
    -fx-alignment: CENTER;
    -fx-background-color: rgba(64,64,64,1.0);
    -fx-border-color: rgba(55,55,55,1.0);
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 0,2,0,2;
    -fx-spacing: 5;


}
