.root
{
    -fx-border-color: rgba(64,64,64,1.0);
    -fx-border-width: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
}
.exit-button
{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-border-color: transparent;
    -fx-padding: 11 11 11 11;
    -fx-border-width: 0 0 0 0;
    -fx-alignment: center;
}
.exit-button:hover{
    -fx-background-color: rgba(35,35,35,1.0);
    -fx-border-color: rgba(35,35,35,1.0);
}
.player-label-active
{
    -fx-text-alignment: center;
    -fx-font-family: 'Century Gothic';
    -fx-text-fill: rgba(247,247,247,1.0);
    -fx-font-size: 12;
}
.player-label-inactive
{
    -fx-text-fill: rgba(57,125,119,1.0);
}
.player-vbox-active
{
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-style: solid inside;
    -fx-border-radius: 0;
    -fx-border-color: rgba(0,128,0,1);
    -fx-background-color: rgba(0,145,132,1.0);
    -fx-background-insets: 0;
    -fx-background-radius: 2;
}
.player-vbox-inactive
{
    -fx-background-color: rgba(82,179,171,1.0);
}

.input-textfield
{
    -fx-background-color: rgba(64,64,64,1.0);
    -fx-font-family: 'Century Gothic';
    -fx-text-fill: rgba(247,247,247,1.0);
    -fx-border-width: 0 0 0 0;
    -fx-background-radius: 2;
    -fx-border-color: rgba(55,55,55,1);

}
.hiddenword-label
{
    -fx-background-color: transparent;
    -fx-font-size: 70px;
    -fx-font-family: Aka-AcidGR-DiaryGirl;
    -fx-text-fill: whitesmoke;
    -fx-text-alignment: left;
}
.playersbox-hbox
{
    -fx-alignment: center;
    -fx-background-color: rgba(64,64,64,1.0);
    -fx-border-color: rgba(55,55,55,1.0);
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-spacing: 5;
}
.exit-pane
{
    -fx-background-color: rgba(64,64,64,1.0);
    -fx-border-color: rgba(64,64,64,1.0);
    -fx-border-width: 5 5 5 5;
}

/**Costumization of The Bar where the buttons are located**/
.exit-pane > .button-bar > .container {
    -fx-background-color:rgba(64,64,64,1.0);
}

.exit-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: rgba(64,64,64,1.0);
    -fx-text-fill: white;
    -fx-font-size: 15.0 px;
}

.exit-pane *.header-panel{
    -fx-background-color: rgba(45,88,84,1.0);
    -fx-text-fill: white
}
.exit-pane *.header-panel *.label{
    -fx-font-size: 18 px;
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-fill: white;
}
.exit-pane .button{
    -fx-background-color :rgba(64,64,64,1.0);
    -fx-text-fill: grey;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, rgba(45,88,84,1.0), 10.0, 0.0, 0.0, 0.0);
    -fx-background-radius: 0 0 0 0;
    -fx-cursor: hand;
}
.exit-pane .button:hover{
    -fx-background-color: rgba(45,88,84,0.8);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
